.btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-danger {
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.btn-group .btn {
  background: #ffffff;
  color: #333;
}
.btn-group .btn:focus {
  box-shadow: none;
  outline: none;
}
.btn-group .btn.active {
  background: blue;
  color: #ffffff;
  font-weight: 600;
}

.btn {
  padding: 5px 8px;
  font-weight: 400;
  font-size: 14px;
}

/* Delete on live */
textarea {
  width: 100%;
  padding: 6px 10px;
  /* margin-bottom: 20px; */
}
